doctype html
html
	head
		title=app_name
		style
			include main.css
	body
		div(id='test')
			div(id='name' class='repo-name radius-start repo-div')
				p=repo_name
			div(id='last-update' class='repo-update repo-div')
				p=repo_update
			div(id='last-commit' class='last-commit repo-div')
				p=last_commit
			div(id='readme-update' class='readme-update repo-div')
				p=readme_update
			div(id='tag-version' class='tag-version repo-div')
				p=tag_version
			div(id='tag-sha' class='tag-sha repo-div')
				p=tag_sha
			div(id='release-version' class='release-version repo-div')
				p=release_version
			div(id='release-date' class='release-date repo-div')
				p=release_date
			div(id='release-desc' class='release-desc radius-end repo-div')
				p=release_desc
		div(id='test')
			div(id='name' class='repo-name radius-start repo-div')
				p=repo_name
			div(id='last-update' class='repo-update repo-div')
				p=repo_update
			div(id='last-commit' class='last-commit repo-div')
				p=last_commit
			div(id='readme-update' class='readme-update repo-div')
				p=readme_update
			div(id='tag-version' class='tag-version repo-div')
				p=tag_version
			div(id='tag-sha' class='tag-sha repo-div')
				p=tag_sha
			div(id='release-version' class='release-version repo-div')
				p=release_version
			div(id='release-date' class='release-date repo-div')
				p=release_date
			div(id='release-desc' class='release-desc radius-end repo-div')
				p=release_desc